---
import Header from './Header.astro';
import Footer from './Footer.astro';
import LayoutSeoMetatags from './LayoutSeoMetatags.astro';

import '../../styles/app.css';

const { title, description, schema, image, isQr = false } = Astro.props;
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="https://www.carte-du-patrimoine.com/favicon.png" />
		<meta name="viewport" content="width=device-width" />
        <style is:inline>@keyframes spin-reverse{to{transform:rotate(-1turn)}}@keyframes spin{to{transform:rotate(1turn)}}.animate-spin-reverse-slow{animation:4s linear infinite spin-reverse}.animate-spin-reverse-slower{animation:6s linear infinite spin-reverse}.animate-spin-slow{animation:4s linear infinite spin}.animate-spin-slower{animation:6s linear infinite spin}</style>
        <LayoutSeoMetatags {...{ title, description, schema, image }}/>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FY8BQ8LNLY" is:inline></script>
        <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-FY8BQ8LNLY');
        </script>
	</head>
	<body class="font-montserrat bg-surface-light">
        {!isQr && (<Header />)}
        <main class="flex-auto">
            <slot />
        </main>
        <Footer />
	</body>
</html>