---
import Header from './Header.astro';
import Footer from './Footer.astro';
import { ViewTransitions } from 'astro:transitions';
import LayoutSeoMetatags from './LayoutSeoMetatags.astro';
import LayoutInlineScripts from './LayoutInlineScripts.astro';

const { title, description, schema, image } = Astro.props;
---

<html lang="fr" transition:animate="fade">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
        <style is:inline>@keyframes spin-reverse{to{transform:rotate(-1turn)}}@keyframes spin{to{transform:rotate(1turn)}}.animate-spin-reverse-slow{animation:4s linear infinite spin-reverse}.animate-spin-reverse-slower{animation:6s linear infinite spin-reverse}.animate-spin-slow{animation:4s linear infinite spin}.animate-spin-slower{animation:6s linear infinite spin}</style>
        <LayoutSeoMetatags {...{ title, description, schema, image }}/>
        <ViewTransitions/>
	</head>
	<body>
        <Header />
        <main class="flex-auto">
            <slot />
        </main>
        <Footer />
        <LayoutInlineScripts/>
	</body>
</html>