---
import { Image } from "astro:assets";

import PlayStoreImage from "../../images/play-store.png";
---

<div>
    <Image
        src={PlayStoreImage}
        class="h-12"
        height={48}
        alt="Carte du Patrimoine est Disponible pour Android sur le Google Play Store"
    />
</div>
