---
import Layout from "../components/layout/Layout.astro";
---

<Layout title="Politique de confidentialité" description="Politique de confidentialité de l'applicartion Carte du Patrimoine">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-12 pb-20 prose">
        <h1>
            Politique de confidentialité
        </h1>
        <p>
            Grégory Alary a conçu l'application Carte du Patrimoine comme une application gratuite. Ce SERVICE est fourni gratuitement par Grégory Alary et est destiné à être utilisé tel quel.
            Cette page est utilisée pour informer les visiteurs de ma politique en matière de collecte, d'utilisation et de divulgation d'informations personnelles si quelqu'un décide d'utiliser mon service.
            Si vous choisissez d'utiliser mon service, vous acceptez la collecte et l'utilisation d'informations en relation avec cette politique. Les informations personnelles que je recueille sont utilisées pour fournir et améliorer le service. Je n'utiliserai ni ne partagerai vos informations avec qui que ce soit, sauf dans les cas décrits dans la présente politique de confidentialité.
            Les termes utilisés dans la présente politique de confidentialité ont la même signification que dans nos conditions générales, qui sont accessibles sur le site de la Carte du patrimoine, sauf définition contraire dans la présente politique de confidentialité.
        </p>
        <h2>
            Collecte et utilisation des informations
        </h2>
        <p>
            Pour une meilleure expérience, lors de l'utilisation de notre service, je peux vous demander de nous fournir certaines informations personnellement identifiables. Les informations que je demande seront conservées sur votre appareil et ne sont pas collectées par moi de quelque manière que ce soit.
            L'application utilise des services tiers, notamment Firebase Analytics, Firebase Crashlytics et Firebase Performance Monitoring, qui peuvent collecter des informations permettant de vous identifier, telles que des données d'utilisation et des diagnostics anonymes.
        </p>
        <h3>
            Lien vers la politique de confidentialité des fournisseurs de services tiers utilisés par l'application
        </h3>
        <ul>
            <li>
                <a href="https://www.mapbox.com/legal/privacy" target="_blank">Mapbox</a>
            </li>
            <li>
                <a href="https://policies.google.com/privacy" target="_blank">Google (Firebase)</a>
            </li>
        </ul>
        <h2>
            Sécurité
        </h2>
        <p>
            Nous apprécions la confiance que vous nous accordez en nous fournissant vos informations personnelles et nous nous efforçons donc d'utiliser des moyens commercialement acceptables pour les protéger. Mais n'oubliez pas qu'aucune méthode de transmission sur l'internet ou de stockage électronique n'est sûre et fiable à 100 % et que je ne peux pas garantir une sécurité absolue.
            Nous utilisons également Firebase Crashlytics pour identifier et corriger d'éventuels dysfonctionnements de l'application. Ces données de diagnostic sont collectées de manière anonyme et ne contiennent pas d'informations permettant de vous identifier personnellement.
        </p>
        <h2>
            Liens vers d'autres sites
        </h2>
        <p>
            Ce service peut contenir des liens vers d'autres sites. Si vous cliquez sur le lien d'un tiers, vous serez dirigé vers ce site. Notez que ces sites externes ne sont pas gérés par moi. Par conséquent, je vous conseille vivement de consulter la politique de confidentialité de ces sites web. Je n'ai aucun contrôle et n'assume aucune responsabilité quant au contenu, aux politiques de confidentialité ou aux pratiques des sites ou services tiers.
        </p>
        <h2>
            Vie privée des enfants
        </h2>
        <p>
            Ces services ne s'adressent pas aux personnes âgées de moins de 13 ans. Je ne recueille pas sciemment d'informations personnellement identifiables auprès d'enfants âgés de moins de 13 ans. Si je découvre qu'un enfant de moins de 13 ans m'a fourni des informations personnelles, je les supprime immédiatement de nos serveurs. Si vous êtes un parent ou un tuteur et que vous savez que votre enfant nous a fourni des informations personnelles, veuillez me contacter afin que je puisse prendre les mesures nécessaires.
        </p>
        <h2>
            Modifications de la présente politique de protection de la vie privée
        </h2>
        <p>
            Je peux mettre à jour notre politique de confidentialité de temps à autre. Il vous est donc conseillé de consulter régulièrement cette page pour prendre connaissance des éventuelles modifications. Je vous informerai de toute modification en publiant la nouvelle politique de confidentialité sur cette page.
            Cette politique est entrée en vigueur le 2025-02-17.
        </p>
        <h2>
            Contactez nous
        </h2>
        <p>
            Si vous avez des questions ou des suggestions concernant ma politique de confidentialité, n'hésitez pas à me contacter à l'adresse contact@carte-du-patrimoine.com.
        </p>
    </div>
</Layout>
