---
import { Image } from "astro:assets";

import FeatureImage from '../../images/feature.png';

const features = [
  {
    title: 'Carte interactive des Monuments Historiques',
    text: "La carte de l'application vous présente tous les Monuments Historiques classés et géolocalisés. Découvrez aussi une carte en trois dimensions pour mieux repérer les bâtiments autour de vous.",
    iconPath: 'M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z'
  },
  {
    title: "Photographies et informations",
    text: "L'application vous permet d'accéder à une large bibliothèque d'images et d'informations à propos des bâtiments.",
    iconPath: "M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
  },
  {
    title: 'Recherche et filtres',
    text: "Pour rendre votre exploration encore plus facile, notre application dispose d'une fonction de recherche par mots-clés et de filtres. Vous pouvez ainsi trouver rapidement les monuments qui vous intéressent en utilisant des termes spécifiques liés à l'histoire, à l'architecture, à la région, au type ou à l'époque de construction.",
    iconPath: "M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
  },
];
---

<section id="fonctionnalites" class="bg-surface-lighter py-20 sm:py-32 border-t border-b border-surface-dark">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-3xl space-y-4">
      <h2 class="text-3xl font-medium tracking-tight text-text-darker">
        Fonctionnalités
      </h2>
      <p class="mt-2 text-lg text-text-dark">
        L'application Carte du Patrimoine a été pensée pour être simple d'utilisation et exhaustive pour vous permettre d'accéder à la richesse du patrimoine français.<br/>
        Que ce soit lors d'un voyage ou pour mieux connaître votre région, Carte du Patrimoine saura satisfaire votre curiosité.
      </p>
    </div>
  </div>
  <div class="mt-16">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 md:mt-20">
      <div class="grid grid-cols-12 items-center lg:gap-16 xl:gap-24">
        <div class="relative col-span-12 md:col-span-6 mb-8 lg:mb-0">
          <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2">
            <svg viewBox="0 0 558 558" width="558" height="558" fill="none" aria-hidden="true" class="hidden lg:block animate-spin-slower">
              <defs>
                <linearGradient id="feature-gradient" x1="79" y1="16" x2="105" y2="237" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#C67C4E"></stop>
                  <stop offset="1" stop-color="#C67C4E" stop-opacity="0"></stop>
                </linearGradient>
              </defs>
              <path opacity=".2" d="M1 279C1 125.465 125.465 1 279 1s278 124.465 278 278-124.465 278-278 278S1 432.535 1 279Z" stroke="#D4D4D4"></path>
              <path d="M1 279C1 125.465 125.465 1 279 1" stroke-width="2" stroke="url(#feature-gradient)" stroke-linecap="round"></path>
            </svg>
          </div>
          <div class="relative mx-auto max-w-[350px]">
            <Image src={FeatureImage} alt="Une capture d'écran de l'application Carte du Patrimoine présentant l'Hôtel de Bardines" widths={[350, 700]} class="w-[350px]" />
          </div>
        </div>
        <div class="relative z-10 order-last col-span-12 md:col-span-6 space-y-6">
          {features.map(feature => (
            <div class="relative">
              <div class="relative z-10 p-8">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-text-dark">
                  <path stroke-linecap="round" stroke-linejoin="round" d={feature.iconPath} />
                </svg>            
                <h3 class="mt-6 text-lg font-semibold text-text-darker">
                  {feature.title}
                </h3>
                <p class="mt-2 text-sm text-text-dark">
                  {feature.text}
                </p>
              </div>
            </div>
          ))}
      </div>
    </div>
  </div>
</section>
