---
import { Image } from "astro:assets";

import HomeHeroSpinner from "./HomeHeroSpinner.astro";

import HeroImage from '../../images/hero.png';
---

<div class="overflow-hidden pt-8 lg:pt-20 lg:pb-32 xl:pb-36">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="lg:grid lg:grid-cols-12 lg:gap-x-8 lg:gap-y-20">
        <div class="relative z-10 mx-auto max-w-2xl lg:col-span-7 lg:max-w-none lg:pt-6 xl:col-span-6">
          <h1 class="text-4xl font-medium tracking-tight text-gray-900 text-center lg:text-left">
            L'application pour découvrir les Monuments Historiques français
          </h1>
          <p class="mt-6 text-lg text-gray-600 text-center lg:text-left">
            L'application <span class="font-semibold">Carte du Patrimoine</span> vous permet de découvrir la carte de France des Monuments Historiques.
            <br/>
            <br/>
            En quelques instants, parcourez la liste officielle des bâtiments classés au titre des Monuments Historiques et accédez à une large collection de <span class="font-semibold">photographies</span> et d'<span class="font-semibold">informations détaillées</span>. 
          </p>
          <div class="grid mt-8 grid-cols-12 gap-8">
            <div class="flex flex-col col-span-12 lg:col-span-6 items-center lg:items-start">
              <span class="text-3xl font-medium tracking-tight text-gray-900 font-bold">45.000+</span>
              <span class="mt-2 text-lg text-gray-600">Monuments repertoriés</span>
            </div>
            <div class="flex flex-col col-span-12 lg:col-span-6 items-start items-center lg:items-start">
              <span class="text-3xl font-medium tracking-tight text-gray-900 font-bold">200.000+</span>
              <span class="mt-2 text-lg text-gray-600">Images disponibles</span>
            </div>
          </div>
          <div class="mt-8 flex flex-wrap gap-x-6 gap-y-4 justify-center lg:justify-start">
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.mhmap">
              <img
                class="h-16"
                alt='Disponible sur Google Play'
                src='https://play.google.com/intl/en_us/badges/static/images/badges/fr_badge_web_generic.png'
              />
            </a>
          </div>
        </div>
        <div class="relative mt-10 sm:mt-20 lg:col-span-5 lg:row-span-2 lg:mt-0 xl:col-span-6">
          <HomeHeroSpinner />
          <div class="-mx-4 h-[512px] px-9 [mask-image:linear-gradient(to_bottom,white_60%,transparent)] sm:mx-0 lg:absolute lg:-inset-x-10 lg:-bottom-20 lg:-top-10 lg:h-auto lg:px-0 lg:pt-10 xl:-bottom-32">
            <div class="relative aspect-[512/1081] mx-auto max-w-[366px]">
              <Image src={HeroImage} alt="Une capture d'écran de l'application Carte du Patrimoine présentant les informations d'un château à Montiganc-Charente" width={750} />
            </div>
          </div>
        </div>
      </div>
    </div>
</div>